.block{
    height : 25px;
    width : 25px;
    float : left;
}
.modeselection{
    width : 50px;
    height : 200px;
    margin : 10px 60px;
}
.modebutton{
    margin : 30px 0;
    font-size : 24px;
    width : 130px;
    height : 40px;
}

.pauseblock{
    position : absolute;
    top : 200px;
    left : 70px;
    margin : 50px;
    line-height : 50px;
    text-align: center;
    vertical-align: center;
    font-size : 24px;
    color : #ff8800d2;
    opacity: 0.7;
    width : 80px;
    height : 60px;
    background-color : white;
    border : solid 3px #ff7700ee;
    border-radius : 5px;
}

.scoretitle{
    color : #ff8800d2;
    margin : 5px 20px;
    font-weight : bold;
    font-size : 18px;
}

.mainBody{
    margin : 10px 20px;
    height : 504px;
    width : 254px;
    background-size: cover;
    border : 2px solid;
    border-radius : 5px;
    float : left;
}

.mainBody_init{
    margin : 10px 20px;
    height : 504px;
    width : 254px;
    background-color : black;
    border : 2px solid;
    border-radius : 5px;
    float : left;
}

.control{
    margin : 10px 0;
    width : 260px;
    height :520px;
    float : left;
    background : #ff880094;
    border : 2px solid;
    border-radius : 15px;
}

.button1{
    margin : auto;
    width : 60px;
    height : 60px;
    font-size : 30px;
    display: flex;
    justify-content: center;
}
.button2{
    margin :  0 10px 0 40px;
    width : 60px;
    height : 60px;
    font-size : 30px;
}
.button3{
    margin :  0 10px 0 45px;
    width : 60px;
    height : 60px;
    font-size : 30px;
}
.controltext{
    margin:10px auto;
    text-align: center;
    font-size : 20px;
}
.reset{
    margin :  10px 50px;
    width : 160px;
    height : 60px;
    font-size : 30px;
}
.pause{
    width : 160px;
    height : 60px;
    font-size : 30px;
    margin : 10px 50px;
}
.welcomeLogo{
    margin : 50px 0;
}
.instruction{
    margin : 2px 15px;
    font-size : 12px;
}

.themeChange{
    margin : auto;
    width : 280px;
}

.selectedtheme{
    margin : 0 10px;
    border : 2px solid #ff8800d2;
    width : 34px;
    height : 34px;
    float : left;
    vertical-align: middle;
    cursor: pointer;
}
.theme{
    margin : 0 10px;
    width : 40px;
    height : 40px;
    float : left;
    vertical-align: middle;
    cursor: pointer;
}