.headbody {
    background-color : rgb(255, 136, 0);
    height : 50px;
    font-size : 50px;
}

.welcome {
    color : white;
    font-size : 30px;
    margin : 0px 20px;
    float : left;
}

.log{
    float : right;
    font-size : 20px;
    margin : 10px;
    width : 120px;
    color : blanchedalmond;
    cursor : pointer;
}